*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4{
    background-color: rgb(255, 229, 80);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    
    margin: 0px auto;
}

body{
    font-size: 1.1rem;

}

.container{
    width: 75%;
    margin: 0 auto;
    /* background-color: red; */
}

header{
    /* background-color: lightblue; */
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.logo{
    padding: 10px 0;
    font-size: 1.5em;
}

nav{
    text-transform: uppercase;
    margin: auto;
}

.iconos{
    display: flex;
    margin: auto 0;
}

i{
    margin-left: 10px;
}

ul,a{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

li{
    margin: auto 5px;
    font-size: 0.9em;
}



.primersec{
    background-color: rgb(255, 229, 80);
    height: 90vh;
}

.containersec1{
    display: flex;
    height: 90vh;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

.freelancer{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.9em;
}

.developer{
    margin-bottom: 30px;
    font-size: 70px;
    border-right: 10px solid rgb(172, 172, 16);
    padding-right: 10px;
    line-height: 70px;
    margin-left: -5px;
    color: rgb(53, 59, 28);
}
.developer2{
    transform: translate(-4px,-103px);
    color: black;
    border: none;
}

.basedinlp{
    margin-bottom: 30px;
}

.vemistrabajos{
    background-color: rgb(37, 36, 36);
    border-left: 30px solid rgb(37, 36, 36);
    border-right: 30px solid rgb(37, 36, 36);
    border-top: 10px solid rgb(37, 36, 36);
    border-bottom: 10px solid rgb(37, 36, 36);
}

.avemistrabajos{
    color: white;
    text-transform:capitalize;
}

.acontactme{
    margin:auto 0 auto 30px ;
    text-decoration: underline;
    align-items: center;
    text-align: center;
}

.flechacontactame{
    margin: 10px 0 10px 10px;
}

.botonsec1{
    display: flex;
}

.fotoconmama{
    border: 10px solid white;
    border-radius: 50%;
    height: 55vh;
    margin-left: 100px;
}

.flechaabajo{
    position: absolute;
    bottom: 5%;
    left: 49%;
    
    align-items: center;
    
}


.segundosec{
    height: 70vh;
    padding-top: 60px;
}

.container1sec2{
    display: flex;
    justify-content: space-between;
}

.subcontainer1sec2{
    width: 50vw;
}

.conocememejor{
    text-align: center;
    margin-bottom: 30px;
}

.soybc{
    font-weight: 500;
}

.nombresec2{
    text-decoration: underline;
    text-decoration-color: rgb(255, 229, 80);
}

.textoacercademi{
    margin: 10px 10px 50px 0;
    line-height: 30px;

}

.circulo{
    width: 100px;
    height: 100px;
    background-color:rgb(255, 229, 80);
    border-radius: 50%;
    margin:0 auto 10px auto;
}

.unodelcirculo{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(53, 53, 53);
}

.aniosdeexp{
    width: 20vw;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
}

.tablasec2{
    margin-top: 40px;
}

.tdsec2{
    padding-right: 150px;
}

.gmail{
    text-decoration: underline;
}

.tercersec{
    background-color: rgb(248, 248, 248);
    height: 100vh;
    padding-top: 60px;
}

.whatido{
    text-transform: capitalize;
}

.h1titulosec3{
    text-align: center;
    padding: 5px 0 80px 0;
}

.iconosec3{
    color: rgb(255, 229, 80);
    font-size: 2em;
    padding-bottom: 15px;
}


.subcontainersec3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectoressec3{
    text-align: center;
    width: 300px;
    height: 300px;
    padding-right: 20px;
}

.psec3{
    text-align: justify;
    font-size: 0.9em;
    padding-top: 15px;
}



.cuartosec{
    height: 140vh;
    padding-top: 60px;
}

.sumaryofresume{
    text-align: center;
    padding: 0 0 75px 0;
}

.containertodo{
    display: flex;
    /* justify-content: space-around; */
    padding-bottom: 50px;
}

.diveducacion{
    border-left: 2px solid rgb(255, 229, 80);
    padding-left: 20px;
}

.divexperiencia{
    border-left: 2px solid rgb(255, 229, 80);
    padding-left: 20px;
    margin-left: 20px;
}

hr{
    width: 550px;
    text-align: center;
    margin: 20px 0;
    border: 1px solid rgb(226, 226, 226);
    
    
}

.miexp{
    padding: 0 0 15px 20px;
    font-size: 1.35em;
}

.titulosdemiresumen{
    font-weight: 500;
    font-size: 1.2em;
}

.presumen{
    color: rgb(95, 95, 95);
}

/*skills*/
.misskils{
    padding: 0 0 20px 0;
}

.whjrab{
    display: flex;
}

.whj{
    width: 50%;
    margin-right: 20px;
}

.rab{
    width: 50%;
    margin-left: 20px;
}

.palabrasbarraprogreso{
    display: flex;
    justify-content: space-between;
}

.barragris{
    margin:10px 0 25px 0;
    width: 100%;
    height: 1vh;
    background-color: rgba(236, 236, 236, 0.74);
    border-radius: 15px;
}

.barraamarillo{
    height: 1vh;
    background-color: rgb(255, 229, 80);
    border-radius: 15px;
}

.barrawebdesign{
    width: 65%;
}

.barrahtmlcss{
    width: 95%;
}

.barrajavascript{
    width: 80%;
}

.barrareactjs{
    width: 70%;
}

.barraangujarjs{
    width: 60%;
}

.barrabootstrap{
    width: 99%;
}

.renglonarribadebarra{
    font-weight: 500;
    font-size: 1rem;
}

.downloadcv{
    border: 2px solid rgb(37, 36, 36);
    width: 10vw;
    height: 5vh;
    background-color: white;
    color: rgb(37, 36, 36);
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;
}

.divdownloadcv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

/*section 5*/

.quintosec{
    padding-top: 60px;
    background-color: rgb(248, 248, 248);
    height: 115vh;
}

.h1titulosect5{
    text-align: center;
    padding: 15px 0 20px 0;
}

.ulsec5{
    padding-top: 20px;
    justify-content: center;
}

.lisec5{
    font-weight: 700;
    color: rgb(167, 167, 167);
    padding-left: 10px;
}

.liTodos{
    padding-left: 0;
    color: black;
    border-bottom: 3px solid rgb(255, 229, 80);
}


.subcontainersec5{
    display: flex;
    justify-content:center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 35px;
}

.imagenes{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.foto1{
    padding: 0 15px 15px 0;
}

.foto2{
    padding: 0 15px 15px 0;
}

.foto3{
    padding: 0 15px 15px 0;
}

.foto4{
    padding: 0 15px 15px 0;
}

.foto5{
    padding: 0 15px 15px 0;
}

.foto6{
    padding: 0 15px 15px 0;
}

/* Inicio cuarto sec */

.novenosec{
    background-color: rgb(255, 229, 80);
    height: 70vh;
    padding-top: 60px;
}

.containersec9{
    display: flex;
    justify-content: space-between;
}

.primerdiv, .segundodiv{
    width: 40%;
}


.h1sec9{
    font-size: 1.8em;
    padding-bottom: 30px;
}

.colortextosec9{
    font-weight: 500;
    line-height: 40px;
    color: rgb(43, 43, 43);
}

.pprimerdiv{
    padding-bottom: 30px;
}

.iconossec9{
    margin-top: 30px;
    display: flex;
}

.iconosection9{
    margin-left: 0;
    color: rgb(43, 43, 43);
    height: 40px;
    width: 40px;
}

.segundodiv{
    display: flex;
    flex-direction: column;
}

.label1{
    font-size: 0.9em;
    font-weight: 500;
    color: rgb(43, 43, 43);
}

