/* *{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 73, 73);
}

header{
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

nav{
    background-color: lightgreen;
    display: flex;
    justify-content: flex-end;
}

ul{
    display: flex;
    color: black;
}

li{
    margin: 5px 10px 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
} */ 