*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(231, 73, 73);
    font-size: 1.1rem;
}

ul,a{
    text-decoration: none;
    list-style: none;
}

a{
    color: black;
}

h4{
    margin-top: 50px;
    background-color: yellow;
}

header{
    
}
.primersec{
    background-color: yellow;
}

.segundosec{
    background-color: white;
}

.tercersec{
    background-color: rgb(233, 233, 233);
}

.cuartosec{
    background-color: white;
}
